@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/************** BASE *******************/

@layer base {
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    a,
    p {
        @apply font-sans;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-dark tracking-heading;
    }

    h1 {
        @apply font-bold text-4xl leading-h1;
    }

    h2 {
        @apply font-bold text-2xl leading-h2;
    }

    h3 {
        @apply font-medium text-xl leading-h3;
    }

    .h3-bold {
        @apply font-bold text-xl leading-h3;
    }

    h4 {
        @apply font-medium text-lg leading-h4;
    }

    html,
    body {
        @apply text-base p-0 m-0;
    }

    a {
        @apply font-normal text-tiny flex items-center text-primary-400;
    }

    .caption {
        @apply font-sans font-medium text-xs leading-caption;
    }

    .body1 {
        @apply font-sans font-normal text-base leading-body1 text-dark;
    }

    .body1-bold {
        @apply font-sans font-bold text-base leading-body1bold text-blackWhite-150;
    }

    .body2 {
        @apply font-sans font-normal text-tiny leading-body2 text-dark;
    }

    .body2-bold {
        @apply font-sans font-bold text-tiny leading-body2 text-dark;
    }

    .body2-negative {
        @apply font-sans font-normal text-tiny leading-[22.4px] text-negative-200;
    }

    .body2-negative-bold {
        @apply font-sans font-bold text-base leading-5 text-negative-200 py-1;
    }

    .home {
        background: url(/LoginBG.svg);
        @apply inset-0 bg-center bg-fixed bg-cover flex flex-col items-center fixed overflow-y-auto;
    }
}

/************** COMPONENTS *******************/

@layer components {
    /************** LOGO *******************/
    .logo {
        @apply absolute left-9 top-6;
    }

    /********** LOGIN PAGE ****************/

    .login-modal {
        box-shadow: 0px 8px 26px 3px rgba(26, 99, 245, 0.19);
        @apply bg-input rounded-xl w-[427px] mt-[calc((100vh_-_590px)_/2)] default-transition;
    }

    .disabled {
        @apply !bg-primary-100 !text-primary-200;
    }

    /********* BUTTONS ********/

    .btn-disabled-ghost-primary {
        @apply !text-primary-300 !bg-transparent !cursor-default;
    }
    .btn-disabled-ghost-secondary {
        @apply !text-blackWhite-350 !bg-transparent !cursor-default;
    }

    .btn-disabled-solid-secondary {
        @apply !text-secondary-200 !bg-secondary-100 !cursor-default;
    }

    .btn-disabled-icon-ghost-secondary {
        filter: invert(86%) sepia(7%) saturate(115%) hue-rotate(191deg)
            brightness(92%) contrast(81%);
    }

    .btn-disabled-icon-ghost-primary {
        filter: invert(80%) sepia(7%) saturate(1532%) hue-rotate(186deg)
            brightness(100%) contrast(103%);
    }

    .btn-disabled {
        @apply !bg-primary-100 text-primary-200 !cursor-default;
    }

    .btn-base {
        @apply justify-center w-full py-1.5 px-2.5 rounded-button h-10 hover:cursor-pointer;
    }

    .btn-base:not(.btn-disabled) {
        @apply default-transition;
    }

    .btn-blue {
        @apply bg-primary-400 hover:bg-primary-300 active:bg-primary-500;
    }

    .btn-blue:not(.btn-disabled):hover {
        @apply text-blackWhite-150;
    }

    .btn-primary-ghost {
        @apply text-primary-400 hover:bg-primary-100 active:bg-primary-200;
    }

    .btn-primary-ghost-icon {
        filter: invert(50%) sepia(81%) saturate(7196%) hue-rotate(216deg)
            brightness(98%) contrast(97%);
    }

    .btn-secondary-ghost-icon {
        filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(304deg)
            brightness(90%) contrast(101%);
    }

    .btn-secondary-ghost {
        @apply text-dark hover:bg-blackWhite-200 active:bg-blackWhite-300 disabled:!bg-transparent;
    }
    .btn-secondary-solid {
        @apply bg-secondary-300 text-blackWhite-150 hover:bg-secondary-200 active:bg-secondary-400;
    }

    .btn-primary-pressed {
        @apply bg-primary-150 hover:bg-primary-150;
    }

    .btn-secondary-pressed {
        @apply bg-blackWhite-250 hover:bg-blackWhite-250;
    }

    /********** PROGRESS BAR *********/
    .progress {
        @apply h-2 w-full rounded-tr-lg bg-blackWhite-200 transition ease-out duration-1000;
        transition: width 5s ease;
    }

    /**************TEXT INPUT *************/
    .input {
        @apply bg-cornflower border border-solid border-blackWhite-350 rounded-lg font-sans font-normal text-base text-dark w-full h-[42px] p-2.5 mb-5 cursor-pointer default-transition;
    }

    .input:hover {
        @apply border border-solid border-blackWhite-400;
    }

    .input:focus {
        @apply border-primary-400 outline-none;
    }

    .text-field {
        @apply bg-cornflower 
        rounded-[5px]
        outline-0
        font-sans
        font-normal
        text-base
        w-full
        h-10
        px-2.5
        py-[9px]
        default-transition
        text-dark
        placeholder:text-primary-400
        hover:text-primary-500
        hover:placeholder:text-primary-500
        focus:text-dark
        focus:bg-primary-100
        disabled:bg-blackWhite-200
        disabled:placeholder:text-blackWhite-350;
    }

    select:required:invalid {
        color: #bb6464;
    }
    option[value=''][disabled] {
        display: none;
    }

    /********** LABEL **********/

    .visually-hidden {
        animation-fill-mode: forwards;
        animation-delay: 1s;
        border-width: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    /********** CUSTOM CHECKBOX *************/

    .form-check-input {
        @apply relative appearance-none h-5 w-5 border-2 border-blackWhite-300 bg-blackWhite-150 rounded-sm cursor-pointer default-transition;
    }

    .form-check-input:hover {
        @apply bg-primary-100 border-primary-500;
    }

    .form-check-input:checked {
        @apply border-primary-400 bg-primary-400 text-white;
    }

    .default-transition {
        @apply transition-all duration-300 ease-in-out;
    }

    .default-color-transition {
        @apply transition-colors duration-300 ease-in-out;
    }

    /********** GENERAL *************/

    .display-block {
        display: block;
    }

    .display-none {
        display: none;
    }

    /*********** MODAL **************/
    .modal-overlay {
        @apply flex items-center justify-center fixed bg-dark bg-opacity-[0.1] inset-0 z-[150];
    }

    .modal-content {
        @apply flex
            bg-white
            card-shadow
            rounded-[15px];
    }

    /********** SCROLLBAR *************/

    body {
        scrollbar-color: #7aa6ff #f1f6ff;
        scrollbar-width: thin;
    }

    body ::-webkit-scrollbar-thumb {
        position: absolute;
        width: 9px;
        border-radius: 6px;
        background-color: #dee0e5;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    body ::-webkit-scrollbar-thumb:active {
        background-color: #7aa6ff;
    }

    body ::-webkit-scrollbar {
        display: flex;
        flex-direction: column;
        width: 9px;
        border-radius: 5px;
        background: white;
    }

    #current-positions-tab-controller::-webkit-scrollbar,
    #settlements-tab-controller::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    #scrollCustomTableX::-webkit-scrollbar {
        height: 9px;
    }

    #scrollableDiv::-webkit-scrollbar-track {
        @apply my-2.5;
    }

    #info-drawer::-webkit-scrollbar-track,
    #trades-orders-datagrid::-webkit-scrollbar-track,
    #manual-trades-datagrid::-webkit-scrollbar-track {
        @apply my-2.5;
    }

    #dashboards-preview::-webkit-scrollbar {
        @apply h-[9px];
    }

    /******* HOME ICON **********/

    .home-icon-default {
        filter: invert(85%) sepia(6%) saturate(129%) hue-rotate(191deg)
            brightness(92%) contrast(83%);
    }

    .home-icon-hover {
        filter: invert(50%) sepia(9%) saturate(271%) hue-rotate(182deg)
            brightness(95%) contrast(95%);
    }

    .home-icon-current {
        filter: invert(29%) sepia(65%) saturate(5959%) hue-rotate(219deg)
            brightness(103%) contrast(92%);
    }

    .home-icon-black {
        filter: brightness(0%);
    }

    .active-link-default {
        filter: invert(50%) sepia(13%) saturate(218%) hue-rotate(182deg)
            brightness(95%) contrast(87%);
    }

    /********** SELECT ARROW ICON *************/

    .icon-default {
        filter: invert(39%) sepia(89%) saturate(5475%) hue-rotate(216deg)
            brightness(97%) contrast(97%);
    }

    .icon-grey {
        filter: invert(54%) sepia(6%) saturate(482%) hue-rotate(182deg)
            brightness(88%) contrast(86%);
    }

    .icon-hover {
        filter: invert(20%) sepia(96%) saturate(2626%) hue-rotate(215deg)
            brightness(79%) contrast(111%);
    }

    .icon-disabled {
        filter: invert(89%) sepia(13%) saturate(60%) hue-rotate(191deg)
            brightness(84%) contrast(91%);
    }

    /********** SORTING ARROW ICON *************/

    .sorting-icon-hover {
        filter: invert(39%) sepia(89%) saturate(5475%) hue-rotate(216deg)
            brightness(97%) contrast(97%);
    }

    .sorting-icon-default {
        filter: invert(54%) sepia(6%) saturate(482%) hue-rotate(182deg)
            brightness(88%) contrast(86%);
    }

    /****** ICON BUTTON *********/

    .icon-button-default {
        filter: invert(79%) sepia(3%) saturate(208%) hue-rotate(191deg)
            brightness(93%) contrast(102%);
    }

    .icon-solid-disabled {
        filter: invert(97%) sepia(8%) saturate(365%) hue-rotate(184deg)
            brightness(91%) contrast(97%);
    }

    .icon-solid-Medium-primary {
        filter: invert(72%) sepia(26%) saturate(5431%) hue-rotate(192deg)
            brightness(99%) contrast(104%);
    }

    .icon-pressed {
        filter: invert(16%) sepia(99%) saturate(2777%) hue-rotate(216deg)
            brightness(97%) contrast(107%);
    }

    .icon-ghost-hover {
        filter: invert(30%) sepia(81%) saturate(3198%) hue-rotate(214deg)
            brightness(96%) contrast(101%);
    }

    .icon-noint-default {
        filter: invert(78%) sepia(7%) saturate(112%) hue-rotate(191deg)
            brightness(99%) contrast(85%);
    }

    .icon-alert-input {
        filter: invert(57%) sepia(81%) saturate(3489%) hue-rotate(319deg)
            brightness(97%) contrast(102%);
    }

    .icon-alert-card {
        filter: invert(50%) sepia(11%) saturate(247%) hue-rotate(182deg)
            brightness(94%) contrast(89%);
    }
    .icon-solidBG-default {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(273deg)
            brightness(104%) contrast(106%);
    }

    /***** GENERIC FILTER COLOR CLASSES *****/

    .filter-primary-300 {
        filter: invert(69%) sepia(17%) saturate(5850%) hue-rotate(193deg)
            brightness(100%) contrast(103%);
    }

    .filter-primary-400 {
        filter: invert(26%) sepia(87%) saturate(2153%) hue-rotate(214deg)
            brightness(96%) contrast(101%);
    }

    .filter-primary-500 {
        filter: invert(20%) sepia(44%) saturate(5494%) hue-rotate(216deg)
            brightness(86%) contrast(109%);
    }

    .filter-blackWhite-300 {
        filter: invert(88%) sepia(7%) saturate(119%) hue-rotate(185deg)
            brightness(101%) contrast(95%);
    }

    .filter-blackWhite-400 {
        filter: invert(51%) sepia(12%) saturate(205%) hue-rotate(182deg)
            brightness(93%) contrast(93%);
    }

    /********** ICONS *************/

    .icon-primary-400 {
        filter: invert(24%) sepia(99%) saturate(2877%) hue-rotate(217deg)
            brightness(100%) contrast(92%);
    }

    .icon-secondary-300 {
        filter: invert(24%) sepia(68%) saturate(6390%) hue-rotate(248deg)
            brightness(85%) contrast(131%);
    }

    .icon-disabled {
        filter: invert(89%) sepia(13%) saturate(60%) hue-rotate(191deg)
            brightness(84%) contrast(91%);
    }

    .filter-partial-state-200 {
        filter: invert(92%) sepia(42%) saturate(2306%) hue-rotate(309deg)
            brightness(101%) contrast(101%);
    }

    .filter-positive-200 {
        filter: invert(61%) sepia(48%) saturate(4219%) hue-rotate(79deg)
            brightness(99%) contrast(109%);
    }

    .filter-negative-200 {
        filter: invert(49%) sepia(31%) saturate(3551%) hue-rotate(320deg)
            brightness(99%) contrast(99%);
    }

    .filter-gray {
        filter: invert(90%) sepia(0%) saturate(3551%) hue-rotate(320deg)
            brightness(99%) contrast(99%);
    }

    /********** SELECT *************/

    .select-simple {
        @apply flex
        justify-between
        items-center
        px-[10px]
        h-[40px]
        text-dark
        rounded-[5px]
        bg-cornflower
        default-transition
        cursor-pointer;
    }

    .select-input {
        @apply flex
        justify-between
        items-center
        pl-[10px]
        w-full
        h-[40px]
        text-dark
        outline-none
        rounded-[5px]
        bg-cornflower
        default-transition
        cursor-pointer
        placeholder:text-primary-400
        placeholder:hover:text-primary-500;
    }

    .select-input-disabled {
        @apply bg-blackWhite-200
        cursor-default
        placeholder:text-blackWhite-350
        placeholder:hover:text-blackWhite-350;
    }

    .select-container {
        @apply absolute
        w-full
        mt-[4px]
        px-[5px]
        py-[10px]
        bg-white
        rounded-[5px]
        drop-shadow-[0px_2px_16px_rgba(26,99,245,0.12)]
        z-[9999];
        transition: max-height 300ms ease, opacity 500ms ease;
    }

    .select-container-closed {
        transition: max-height 500ms ease, opacity 300ms ease;
    }

    .select-inner-container {
        @apply px-[5px] overflow-y-auto;
    }

    .select-option {
        @apply flex
        justify-between
        px-[5px]
        py-[8px]
        text-blackWhite-400
        cursor-pointer
        default-transition;
    }

    .popup-menu-container {
        @apply absolute
        py-[10px]
        z-50
        visible;
        transition: max-height 300ms ease, opacity 500ms ease;
    }
    /********** PAGINATION *************/

    .pagination_container {
        @apply inline-flex space-x-[11px];
    }

    .pagination_container .selected {
        @apply bg-primary-100;
    }

    .pagination_container .selected a {
        @apply cursor-default;
    }

    .pagination_container li {
        @apply rounded-[36px] default-transition;
    }

    .pagination_container li:not(.selected) {
        @apply hover:bg-blackWhite-200;
    }

    .pagination_container .disabled {
        @apply !bg-transparent;
    }

    .pagination_container .disabled a {
        @apply !text-blackWhite-350 cursor-default;
    }

    .link {
        @apply w-9
        h-9
        font-normal
        text-base
        leading-body1
        text-blackWhite-400
        text-center
        default-transition
        hover:text-dark 
        active:text-primary-400;
    }

    .pagination_container .selected .page_link {
        @apply text-primary-400;
    }

    .page_link {
        @apply flex
        items-center
        justify-center
        w-9 h-9
        font-sans
        font-normal
        text-base
        leading-body1
        text-blackWhite-400
        text-center
        rounded-full
        default-transition
        hover:text-dark
        focus:text-primary-400
        focus:bg-primary-100;
    }
}

#positions-table::-webkit-scrollbar {
    height: 9px;
}

#manual-trades-table thead tr th,
#manual-trades-table tbody tr td {
    border: 1px solid #dee0e5;
}

.table-shadow {
    box-shadow: 0px 2px 16px 3px #1a63f51f;
}

/********** TOASTER *************/

.Toastify__toast-icon {
    width: 30px !important;
    height: 30px !important;
}

.Toastify__toast-container {
    width: unset !important;
}

.Toastify__toast-container {
    width: unset !important;
}

/***** SlIDEDRAWER ******/
.drawer {
    @apply fixed inset-0;
}

/***** BurgerIcon*******/
.burger-default {
    filter: invert(94%) sepia(6%) saturate(133%) hue-rotate(191deg)
        brightness(81%) contrast(91%);
}

.burger-default:hover {
    filter: invert(6%) sepia(7%) saturate(5414%) hue-rotate(180deg)
        brightness(88%) contrast(105%);
}

.burger-default:active {
    filter: invert(16%) sepia(97%) saturate(2600%) hue-rotate(215deg)
        brightness(100%) contrast(110%);
}

/*****CustomRadioButton*****/
input[type='radio'] {
    @apply hidden cursor-pointer;
}

.radio-btn {
    @apply w-5 h-5 bg-blackWhite-150 border-[1px] rounded-full border-solid border-blackWhite-350;
}

input:checked ~ .radio-btn {
    background: radial-gradient(
        #1a63f5 0%,
        #1a63f5 40%,
        transparent 50%,
        transparent
    );
    border-color: #1a63f5;
}
input:disabled ~ .radio-btn {
    opacity: 0.5;
}

#datagrid::-webkit-scrollbar {
    height: 5px;
}

#datagrid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#close-out-datagrid::-webkit-scrollbar {
    height: 10px;
}

/*****CustomizeInoutTypeNumber*****/
#custom-input input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
}

.currencies-drawer span {
    @apply flex items-center h-5;
}

/********** TRADE ORDER(BULK) FEES DRAWER *************/
.drawer-title {
    @apply text-blackWhite-400 text-tiny font-bold;
}

#root {
    height: 100vh;
    @apply bg-cornflower;
}
